<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Añadir Miembro</h4>
            </div>
            <div class="modal-body">
                <label>Nombre</label>
                <input type="text" ng-model="nuevoMiembro.nombre" />
                
                <label>Tipo de Miembro</label>
                <input type="text" ng-model="nuevoMiembro.tipoMiembro" />
                
                <label>Fidelidad</label>
                <input type="text" ng-model="nuevoMiembro.fidelidad" />
                
                <label>Fecha de Union</label>
                <input type="date" ng-model="nuevoMiembro.fechaUnion" />  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="salvarNuevoMiembro()">Salvar</button>
            </div>
    </div>
</div>

